<h1>Вы попали на 1 страницу</h1>
<h2>Чтобы вернуться к странице под названием Homework <a href="./Bliznuyk.html">нажмите здесь</a>.</h2>
<h2><a href="./second.html">Нажмите чтобы перейти на следующую страницу</a></h2>