<h1>Вы попали на вторую страницу!</h1>
<h2>Чтобы вернуться к странице под названием Homework <a href="./Bliznuyk.html">нажмите здесь</a>.</h2>
<h2>Чтобы вернуться к странице под названием first.html <a href="./first.html">нажмите здесь</a>.</h2>
<h3><a href="Bliznuyk.html#top">Якорь 1</a></h3>
<h3><a href="Bliznuyk.html#bottom">Якорь 2</a></h3>