*,
*::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.header {
   width: 100%;
   height: 44px;
   background-color: #4CB1CA;
}


._container {
   max-width: 1300px;
   margin: 0 auto;
}

.about{
   display: flex;
   min-height: 45px;
   align-items: center;
   justify-content: space-between;
}

.header__item {
   background-color: #4CB1CA;
}

.about__first span {
   color: #fff;
}

.menu__first {
   display: flex;
}

.menu__first span {
   margin: 0px 10px 0px 10px;
   color: #fff;
}

.menu__first a {
   color: #fff;
}
.menu__first li {
   
}

.menu__first li:last-child{
   margin: 0;
}

.down {
   display: inline;
   color: #9fe3e3;
}

.down:nth-child(1) {
   margin-right: 10px;
}


.down__link {
   color: #fff;
}

.header__nav1 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 90px;
}
.navigation {
   display: flex;
   align-items: center;
}
.menu__list {
   display: flex;
}

form {
   position: relative;
   width: 175px;
   margin: 0 auto;
 }
 input {
   width: 100%;
   height: 30px;
   padding-left: 10px;
   border: 1px solid #656565;
   outline: none;
   background: #fff;
   color: #000;
 }
 button {
   position: absolute; 
   top: 0;
   right: 0px;
   width: 30px;
   height: 30px;
   border-bottom: 1px solid #656565;
   border-top: 1px solid #656565;
   border-right: 1px solid #656565;
   background-color: #fff;
   cursor: pointer;
 }
.icon {
   width: 15px;
   height: 15px;
}

.cards {
   display: flex;
}

.carts__item {
   background-color: #7DB122;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   
   padding: 5px 0px 0px 5px;
   
}

.carts__item:nth-child(1) {
   margin-left: 13px;
}

.carts__item:nth-child(2) {
   margin: 0px 13px 0px 3px;
}

.carts {
   display: flex;
}

.cart {
   line-height: 32px;
   height: 24px;
   font-size: 14px;
   text-transform: uppercase;
   color: #656565;
}

.icon2 {
   width: 20px;
   height: 20px;
}

.header__logo {
   font-size: 36px;
   color: #656565;
   text-transform: uppercase;
}


.menu__item {
   margin-right: 10px;
}
.menu__link {
   color: #656565;
   font-size: 14px;
   text-transform: uppercase;
}
.menu__item:nth-child(1) {
   margin-left: 60px;
}
.menu__item:last-child {
   margin: 0;
}

.slider {
   background: url(./Layer\ 2@2X.png);
   border-left: 10px solid #380a18;
   min-height: 480px;
   background-position: 55% 25%;
   display: flex;
   align-items: center;
   margin-bottom: 50px;
   
   
   
}

.btn{
   background-color: #fff;
   width: 68px;
   height: 68px;
   border-radius: 50%;
   font-size: 55px;
   color: #CDCDCD;
   text-align: center;
   position: relative;
}

.left__btn {
   left:5%;
}

.right__btn {
   left: 70%;
}
.title__first {
   background-color: #403a3c;
   text-transform: uppercase;
   font-size: 30px;
   color: #ffff;
   padding: 5px 5px 5px 15px;
   font-weight: 300;
   margin-bottom: 5px;
   width: 290px;
}

.title__second {
   background-color: #403a3c;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 25px;
   color: #fff;
   padding: 5px 30px 5px 15px;
   
}

.buttons {
   
}

.slider__title {
   height: 100px;
   position: relative;
   left: 10%;
}



.item {
   background-color: #CDCDCD;
   border: 1px solid #656565;
   width: 240px;
   height: 289px;
   margin-right: 30px;
   margin-bottom: 30px;
}

.content__item1 {
   display: flex;
   overflow: hidden;
}

.content__item2 {
   display: flex;
}

.content__item3 {
   display: flex;
}

.layer15 {
   padding: 5px;
   width: 238px;
   height: 230px;
}

.content p {
   font-size: 17px;
}

.content h2 {
   font-size: 19px;
   color: #7DB122;
   display: inline;
}

.zach {
   font-size: 16px;
   display: inline;
   color: #000;
   text-decoration: line-through;
}

.content span {
   font-size: 19px;
   color: #7DB122;
   margin-left: 3px;
}

.basket {
   width: 33px;
   height: 32px;
}

.content a {
  
}
.korzina {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background-color: #7DB122;
   text-align: center;
   margin-left: 37px;
}


.info {
   padding-left: 5px;
}
.text {
   display: flex;
   padding-bottom: 15px;
}

.content h1 {
   font-size: 24px;
   color: #635F57;
   text-transform: uppercase;
   margin-bottom: 23px;
}

.new {
   position: absolute;
   margin-left: 145px;
}

.sale {
   position: absolute;
}

.glass {
   border-top: 5px solid #4CB1CA;
   border-bottom: 1px solid #656565;
   border-left: 1px solid #656565;
   border-right: 1px solid #656565;
   width: 260px;
   position: absolute;
   right: 410px;
   top: 716px;
   
}

.photo {
   background: url(./Layer\ 35@1X.png) no-repeat;
   margin: 10px;
   background-position: 35% 1%;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   height: 350px;
}
.photo h1 {
   font-size: 24px;
   color: #635F57;
   padding-top: 20px;
   text-transform: uppercase;
   text-align: center;
   padding-bottom: 230px;
}

.button__check {
   color: #fff;
   font-size: 18px;
   text-align: center;
   position: relative;
   
}

.photo a {
   background: #4CB1CA;
   padding: 15px;
   text-align: center;
   color: #fff;
}

.cirles {
   border-top: 1px solid #656565;
   height: 40px;
   justify-content: center;
   display: flex;
   align-items: center;
}

.circle {
   background-color: #7DB122;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   margin-right: 5px;
}

.circle:hover {
   background-color: #4CB1CA;
}

.subs {
   width: 260px;
   text-align: center;
   border-top: 5px solid #4CB1CA;
   border-left: 1px solid #656565;
   border-right: 1px solid #656565;
   border-bottom: 1px solid #656565;
   height: 290px;
   position: absolute;
   right: 410px;
   top: 1170px;
}

.hr {
   border: none;
   width: 86px;
   height: 2px;
   background-color: #656565;
   margin: 0 auto;
  
}

.subs h1 {
   font-size: 24px;
   text-transform: uppercase;
   color: #656565;
   margin-bottom: 23px;
   margin-top: 26px;
}

.subs p {
   font-size: 14px;
   color: #656565;
   margin-bottom: 10px;
}

.subs form {
   margin-top: 13px;
   margin-bottom: 50px;
   
}

.subs a {
   color: #fff;
   background-color: #7DB122;
   padding: 15px;
   text-align: center;
   font-size: 18px;
}

.nedo__footer {
   background-color: #4CB1CA;

}

.items {
   display: flex;
   justify-content: space-between;
  
}

.back {
   background-color: #fff;
   border-radius: 50%;
   width: 66px;
   height: 66px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.nedo__footer img {
   width: 40px;
   height: 40px;
}

.nedo__footer h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    padding: 40px 0px;
    margin-left: 20px;
}

.nedo__item {
   display: flex;
   align-items: center;
}

.second__footer {
   background-color: #43a7bf;
}

.footer__title {
   padding-top: 50px;
   display: flex;
}

.footer__items1 {
   width: 240px;
}
.footer__items2 {
   width: 280px;
}
.footer__items3 {
   width: 240px;
}

.itemitem {
   margin-right: 30px;
}


.itemitem h1 {
   font-size: 20px;
   text-transform: uppercase;
   margin-bottom: 25px;
   color: #fff;
}
.itemitem p {
   font-size: 15px;
   margin-bottom: 5px;
   color: #fff;
}

.items__image img {
   width: 50px;
   height: 50px;
   margin-right: 10px;
}

.items__image img:nth-child(4) {
   width: 50px;
   height: 50px;
   margin-right: 0px;
}

.items__image {
   display: flex;
   margin-bottom: 10px;
}

.hr2 {
   border: none;
   height: 2px;
   background-color: #4CB1CA;
   margin-top: 5px;
   margin-bottom: 10px;
}

.itemitem h2{
   color: #fff;
   font-size: 18px;
}

.twitter__item {
   display: flex;
   margin-bottom: 20px;
   
}

.twitter__item span {
   color: #a2d9db;
   font-size: 18px;
}

.twitter__img {
   background-color: #fff;
   border-radius: 50%;
   width: 56px;
   height: 56px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 20px;
   
   
}

.twitter__item img {
  width: 45px;
  height: 40px;
}

.twitter__content {
   
}


.information a{
   color: #fff;
   font-size: 18px;
   margin-left: 10px;
}

.information span{
   color: #fff;
   font-size: 30px;
}

.hr__socnet {
   border: none;
   height: 2px;
   background-color: #4CB1CA;
   margin: 15px 0px;
}

.footer__socnet {
   display: flex;
}

.links {
   background-color: #fff;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
   border-radius: 50%;
}

.links img {
   width: 22px;
   height: 22px;
}

.links:last-child {
   margin: 0;
}

.third__footer li{
   margin-bottom: 10px;
}

.third__footer a {
   color: #fff;
   font-size: 18px;
}

.third__footer li:last-child {
   margin: 0;
}

.display__item p {
   color: #4CB1CA;
}

.display__item2 {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.display__item2 a{
   color: #4CB1CA;
}

.footer {
   background-color: #185373;
   height: 65px;
   
}

.display {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 65px;
}

.display__item2 span {
   margin: 0px 10px;
   color: #4CB1CA;
}